<button
  class='focus:outline-none bg-gray-300 dark:bg-gray-800 rounded-full p-2 shadow-md ml-4'
  id='dark-mode-toggle'
>
  <img src='/assets/icons/sun.svg' alt='A small sun icon' id='sun-icon' />
  <img
    src='/assets/icons/moon.svg'
    alt='A small moon icon'
    id='moon-icon'
    hidden
  />
</button>