<form class='max-w-md mx-auto p-6 bg-gray-800 rounded shadow-md signup-form'>
  <h2 class='text-2xl font-semibold mb-4'>Sign Up</h2>
  <div class='mb-4'>
    <label
      for='username-signup'
      class='block text-sm font-medium'
    >Username</label>
    <input
      type='text'
      placeholder='Create a username'
      required='required'
      id='username-signup'
      name='username-signup'
      class='w-full px-4 py-2 rounded bg-gray-700 text-gray-200 shadow-sm'
    />
  </div>
  <div class='mb-4'>
    <label
      for='password-signup'
      class='block text-sm font-medium'
    >Password</label>
    <input
      type='password'
      placeholder='Create a password'
      required='required'
      id='password-signup'
      name='password-signup'
      class='w-full px-4 py-2 rounded bg-gray-700 text-gray-200 shadow-sm'
    />
  </div>
  <button
    type='submit'
    class='w-full bg-blue-500 text-gray-100 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400'
  >
    Sign Up
  </button>
  <p class='mt-4 text-sm text-gray-300 text-center'>
    Already have an account?
    <a href='/login' class='text-blue-500'>Log In</a>
  </p>
</form>

<script src='/scripts/forms.js'></script>